/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #182811;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    margin: 0;
}

.login-container {
    position: absolute;
    top: 5%;
    left: 2%;
    right: 2%;
    bottom: 5%;
    background-color: #fff;
    padding: 150px;
    padding-top: 100px;
    border-radius: 50px;
    border: 10px solid #769866;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.ligacoes-container {
    position: absolute;
    height: 120vh;
    top: 5%;
    left: 2%;
    right: 2%;
    bottom: 5%;
    background-color: #fff;
    padding: 150px;
    padding-top: 100px;
    border-radius: 50px;
    border: 10px solid #769866;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.formulario{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-cadastro{
    font-weight: bold;
    width: 350px;
}

.linha{
    display: flex;
    margin-top: 30px;
}

.centraliza{
    width: 55%;
    display: flex;
    justify-content: space-around;
}

.direita{
    width: 55%;
    display: flex;
    justify-content: space-around;
}

#area-texto{
    width: 765px;
    height: 120px;
    border: 2px solid #769866;
    border-radius: 8px;
    font-weight: bold;
}

#botoes-centrelizados{
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#botoes-direita{
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#input-escrever{
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}

#lados{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    justify-content: center;
}

#lado-direito{
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#relacao{
    padding: 10px;
    border: 2px solid #769866;
    border-radius: 8px;
    font-weight: bold;
    width: 250px;
}

#documento-relacao{
    width: 300px;
}

h1 {
    margin-bottom: 50px;
    font-weight: bold;
    width: 50%;
}

p{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

#pespecial{
    margin-right: 5px;
    color: grey;
}

.titulos-pagina{
    color: #4b7c34;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #769866;
    border-radius: 8px;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    align-items: left;
}

.botoes{
    width: 280px;
    padding: 10px;
    background-color: #dc5318;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button {
    width: 60%;
    padding: 10px;
    margin-top: 100px;
    background-color: #dc5318;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

select{
    padding: 10px;
    border: 2px solid #769866;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
}

a {
    color: #007bff;
    text-decoration: none;
}

hr{
    border: 1px solid #1f5c05;
    opacity: 0.30;
}
